
 html, body {
    cursor: url("/Users/amalfarah/Desktop/Business Website/img/cursor.png"), auto !important;
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Darker Grotesque" !important;
}

/*--------------- hero section --------------- */

.video-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.video-container::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #1b1b1b;
    opacity: 0.8;
}

.header {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.header h1 {
    color: #d3ae87;
    font-size: 80px !important;
}

@media(max-width: 900px) {
    .header {
          left: 50%;
    }

    .header h1 {
          font-size: 34px !important;
          text-align: center;
    }
}

 


  /*about Section Starts Here */
  
.content {
    position: absolute;
    margin-top: 100vh;
    width: 100%;
}

section {
    padding: 140px 0;
}

.section-index {
    color: #d3ae87;
    font-weight: bolder;
    font-size: 20px;
    font-family: "Poppins" !important;
}

.section-heading {
    color: grey;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
}

.section-subheading {
    color: grey;
    margin: 10px 0;
}

.section-info {
    font-size: 24px;
    color: grey;
}

.more {
    margin: 40px 0;
}

button {
    background: none;
    border: .3pt solid rgba(184, 140, 93, 0.7);
    text-transform: uppercase !important;
    font-size: 12px !important;
    letter-spacing: 2px;
    padding: 18px 36px;
}

   /*Service Section Starts Here */
.services {

    background: #161616;
}
.service {
    margin: 30px 0;
}
.icon ion-icon {
    font-size: 36px;
    color: #d3ae87;
}

.icon-title {
    font-size: 28px;
    margin-bottom: 4px;
    color: rgba(182, 182, 182);
    font-weight: lighter;

}

/*--------------- our team section starts  --------------- */

.team-member, .team-img {
    position: relative;
    
}

.team-img {
    background: grey;
    height: 340px;
}

.members {
    margin: 50px 0;
}

.team-title {
    margin: 20px 0;
}

.team-title h5 {
    font-size: 28px;
}

.team-title span {
    font-size: 20px;
}

.team-member {
    overflow: hidden;
}

.team-one {
    background: url("/Users/amalfarah/Desktop/Business Website/img/team-one.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.team-two {
    background: url("/Users/amalfarah/Desktop/Business Website/img/team-two.jpg") no-repeat 50% 50%;
    background-size: cover;
}

/*Team Section Ends Here */


